*{
    margin: 0px;
    padding: 0px;
}.hero {
    background-image: linear-gradient(rgba(53, 53, 53, 0.466), rgb(0, 0, 0)), url("../img/wp10431131.webp");
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    /*back size cover cubre todo el espacio de trabajo*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.text_hero {
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.main_tittle {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px #070707;
}
.fontarial {
    font-family: Arial, Helvetica, sans-serif;
}
.text30 {
    font-size: 30px;
}
.body_style {
    background-color: #e0e0e0;
    color: rgb(0, 0, 0);
}
.footer_style {
    background-color: #000000;
    color: rgb(255, 255, 255);
}
.contenedor {
    width: 80%;
    margin: auto;
    padding:  80px 0 0 0;
}
.footercont{
    width: 100%;
    margin: auto;
    padding:  30px 0 5px 50px;
}
.intcont {
    width: 100%;
    margin: auto;
    padding:  60px 0 80px 400px;
}
.titulo {
    font-weight: 300px;
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
}
.imageleft {
    float: left;
    width: 350px;
}